.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* margin-top: 300px; */
  height: 50vh;

  /* background-color: #f0f2f5; */
}

.form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  display: flex;
  flex-direction: column;
}
.box_input {
  margin-bottom: 15px;
}
.label {
  text-align: center;
  padding: 5px;
}
.btn {
  margin: 10px;
  color: rgb(196, 196, 49);
  background-color: #465a21;
  border: none;
  padding: 5px 12px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(245, 239, 239, 0.1);
  transition: all 0.3s ease;
  &:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
  }
}
.input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.link_text {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  color: rgb(196, 196, 49);
}

.link_text a {
  color: #007bff;
  font-weight: bold;
  text-decoration: none;
}

.link_text a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.highlight {
  font-weight: bold;
  color: #333;
}
