.header {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  background-color: rgb(19, 20, 37);
  align-items: center;
}
.logo {
  width: 30px;
  margin-left: 15px;
}
.user {
  color: rgba(255, 255, 0, 0.781);
}
.nav_list {
  display: flex;
  gap: 10px;
  color: bisque;
}
