h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("https://images.unsplash.com/photo-1615797229417-c158f4258648?q=80&w=1480&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  /* background-position: center; */
  /* background-repeat: no-repeat; */
}
.container {
  max-width: 1440px;
  padding: 0 32px;
  margin: 0 auto;
}
.title {
  font-size: 50px;
  text-align: center;
  text-shadow: 1px 1px 5px #151616;
  color: rgb(12, 28, 43);
}
